<!DOCTYPE html>
<html>
<head>
	<title>home</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>

	<div class="text-center mt-5">

		{% if user.is_authenticated %}

		<h1 class="text-success font">
			

			<b> youre succesfull logedin {{ fm.username }}</b>
		</h1>

		<a class="btn btn-danger font " href="/logout/"><b>logout</b></a>

		{%else %}  <h1 class="text-success font"> <b> unathorized user </b></h1>

		<a class="btn btn-danger font " href="/login/"><b>login </b></a>

		{% endif %}



		



	</div>

</body>
</html>